@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1E90FF;
  --color-secondary: #10B981;
  --color-base-200: #EAF2F8;
  --color-base-300: #F5F7FA;
  --color-accent: #FBBF24;
}